<!DOCTYPE html>
<html>
<head>
	<title>Government Clout</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="font-awesome-4.7.0/css/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="css/loading-btn.css" rel="stylesheet">
    <link href="css/loading.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/activity.css" rel="stylesheet"/>
    <link href="css/smallerscreen.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Lato" rel="stylesheet">
    <style>
        .friendsearch {
            margin-bottom: 0;
        }
        footer {
            border-top: 1px solid #034D79;
        }
        .privacy-details {
            padding: 20px 60px 40px 60px;
        }
        .privacy-details p {
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-fluid" alt="logo"></a>
                        <form class="form-inline" action="" id="navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                            </div> 
                        </form>  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="m-10">
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="" class="message-div"><span class="message-count">0</span><img src="images/message.png" class="img-fluid" alt="message"></a>
                            </div>
                            <div class="col-lg-1">
                                <div class="dropdown">
                                    <a class="message-div nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="message-count">2</span><img src="images/notification.png" class="img-fluid" alt="notification">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <h5 class="dropdown-header">Notifications</h5>
                                        <a class="dropdown-item" href="notifications.html">
                                            <div class="d-flex">
                                                <div class="p-2">
                                                    <img src="images/notify.png" class="img-circle" alt="Friend's profile picture">
                                                </div>
                                                <div class="p-2 flex-fill mt-8">
                                                    <div>
                                                        <p><b>Michelle Heston</b> commented on your <br>recent post.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="notifications.html">
                                            <div class="d-flex">
                                                <div class="p-2">
                                                    <img src="images/notify.png" class="img-circle" alt="Friend's profile picture">
                                                </div>
                                                <div class="p-2 flex-fill mt-8">
                                                    <div>
                                                        <p><b>Michelle Heston</b> commented on your <br>recent post.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="notifications.html">
                                            <div class="d-flex">
                                                <div class="p-2">
                                                    <img src="images/notify.png" class="img-circle" alt="Friend's profile picture">
                                                </div>
                                                <div class="p-2 flex-fill mt-8">
                                                    <div>
                                                        <p><b>Michelle Heston</b> commented on your <br>recent post.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <p class="text-center viewmore-cover"><a href="" class="viewmore bold">View more</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="pull-right">
                                    <div class="dropdown" id="profile-dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                            <img src="images/pro.png" class="img-fluid" alt="Profile picture">
                                        </a>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Link 1</a>
                                          <a class="dropdown-item" href="#">Link 2</a>
                                          <a class="dropdown-item" href="#">Link 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="privacy-details text-center">
            <h5>404</h5>
            <h6>Page not found </h6>
            <p>Oops!!! Sorry, there’s no official press release at the moment. <br>Kindly return to the homepage</p>
            <img src="images/404.png" class="img-fluid" alt="404 image">
        </div>
    </div>




    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div>
                        <p>© 2018 GClout | All copyrights rights reserved</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-right">
                        <a href="">Help & FAQ</a>
                        <a href="terms.html">Terms Of Use</a>
                        <a href="privacy.html">Privacy policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>